# Collection
There are 4 built-in data types in Python used to store collections of data.
* List
* Dictionary
* Tuple
* Set

## List
Lists are used to store multiple items in a single variable.

In [ ]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles)
print(bicycles[0])
print(bicycles[0].title())

List can contain any anything i.e. datatype, function, object, variables etc.

In [ ]:
x = [1,2,3,4,5]
y = ['hi',1,3,x]
z = x + y
z

### Access element in LIST

In [ ]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles[0])
print(bicycles[1])
print(bicycles[-1])
print(bicycles[-2])
print(bicycles[0:2])

### Modify element in LIST

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
motorcycles[0] = 'ducati'
print(motorcycles)

### Add items

In [ ]:
motorcycles = []
motorcycles.append('honda')
motorcycles.append('yamaha')
motorcycles.append('suzuki')
print(motorcycles)

### Remove items

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'BMW']
print(motorcycles)
motorcycles.remove('yamaha')
print(motorcycles)

In [ ]:
motorcycles.pop(0)
print(motorcycles)

In [ ]:
del motorcycles[1]
print(motorcycles)

## Dictionary
Dictionaries are used to store data values in key:value pairs.

### Creating dictionary

In [ ]:
mydic = {} 
mydic['winn'] = '0618201998'
mydic['ricky'] = '0812312341'
print(mydic)

In [ ]:
number_dict = {1:"one",2:"two",3:"three"}
print(number_dict)

### Adding information

In [ ]:
mydic["arm"] = "4548885656"

In [ ]:
mydic

### Create dictionary from list

In [ ]:
a = [["winn",'0618201998'],["ricky",'0812312341']]
print(a)
b = dict(a)
print(b)

In [ ]:
name = ["winn","ricky"]
tel = ['0618201998','0812312341']
b = dict(zip(name,tel))
print(b)

### Accessing elements

In [ ]:
print(mydic)
mydic['winn']

### Removing element

In [ ]:
mydic = {'arm': '000000000',
         'ricky': '0812312341',
         'winn': '0618201998',
         'tao':'0811111111'}
print(mydic)
del mydic['tao']
print(mydic)

In [ ]:
mydic.pop('ricky')
print(mydic)

### Extract keys and values

In [ ]:
print(list(mydic.keys()))
print(list(mydic.values()))

### Dictionary inside a dictionary

In [ ]:
winninfo = {'telephone':'0618201998','email':'vwinnv@gmail.com'}
kitimainfo = {'telephone':'0812314123','email':'kitima@gmail.com'}
nonginfo = {'telephone':'092123123123','email':'nong@gmail.com'}
mydic = {'winn':winninfo,'kitima':kitimainfo,'nong':nonginfo}
print(mydic)

In [ ]:
print(mydic["winn"]["email"])
print(mydic['nong']['telephone'])

# Tuple

A tuple is a collection which is ordered and unchangeable.

In [ ]:
a = ("apple", "banana", "cherry")
print(a)

In [ ]:
print(a[0])

In [ ]:
#This generates error.
#a[0] = "Lemon"

# Set
Sets are used to store multiple items in a single variable.

In [ ]:
#Set does not contain duplicated value
a = {"apple", "banana", "cherry", "apple"}
print(a)

In [ ]:
# Set does not support indexing
# print(a[0])

In [ ]:
#Convert set into list
b = list(a)
print(b[0])